<div id="search-component">
    <h4><label for="search-box">Hero Search</label></h4>
  
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  
    <ul class="search-result">
        <!-- 由于 *ngFor 不能直接使用 Observable，所以要使用一个管道字符（|），后面紧跟着一个 async。
            这表示 Angular 的 AsyncPipe 管道，它会自动订阅 Observable，这样你就不用在组件类中这么做了。 -->
        <!-- async 管道会订阅一个 Observable 或 Promise，并返回它发出的最近一个值。 
        当新值到来时，async 管道就会把该组件标记为需要进行变更检测。
        当组件被销毁时，async 管道就会自动取消订阅，以消除潜在的内存泄露问题。 -->
        <li *ngFor="let hero of heroes$ | async" >
            <a routerLink="/detail/{{hero.id}}">
            {{hero.name}}
            </a>
        </li>
    </ul>
  </div>